# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit / temporary files
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
